.todaydate {
    text-align: center;
    font-size: 45px;
}

.currentselect {
    text-align: center;
    font-size: 25px;
}

.togglebutton {
    padding: 25px;
    background-color: black;
    color: white;
    display: block;
    margin: auto;
    width: 167px;
    text-decoration: none;
}

.togglebutton:hover {
    opacity: 0.6;
}

.togglebutton:active {
    padding: 20px;
}

body {
    background-color: aliceblue;
}

#twelveselectedtext {
    color: blueviolet;
}

#twentyfourselectedtext {
    color: blueviolet;
}

#showdate {
    color: blueviolet;
}

#twentyfourtext {
    color: blueviolet;
}

#twentyfourhourtext {
    color: blueviolet;
}

#twelvehourtext {
    color: blueviolet;
}

#timezone {
    color: blueviolet;
}

.colourchangebox {
    padding: 12px;
    font-size: 20px;
    margin: auto;
    display: block;
}

.colourchangeboxpicker {
    display: block;
    margin: auto;
    width: 90px;
    height: 40px;
}

.entercountdownbox {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

.entercountdownbutton {
    display: block;
    margin: auto;
    width: 90px;
    height: 40px;
}

.textcenter {
    text-align: center;
}

.viewbugs {
    text-align: center;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: lightgrey;
    width: 80px;
}

.viewbugs:hover {
    opacity: 0.7;
}

.viewbugs:active {
    padding: 8px;
}

.centerimg {
    margin: auto;
    display: block;
}